
<h1><%= "#{@player1} vs #{@player2}" %></h1>
<h2><%= "#{@player2}:#{@player2hp}HP" %></h2>
<form action='/attack' method='POST'>
<input type='submit' name='Attack' value='Attack'> 
</form>
<% if @attacked %>
<p> You have attacked player 2 </p>
<% end %>